<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Scan your ticket</h1>   
        </div>
        <div  class="col-6 settings">
            <fa-icon [icon]="faGear" (click)="openSettings()" size="3x"></fa-icon>  
        </div>
    <hr/>    
    <div class="ticketValidatorBorder" >
        <div class="ticketValidator">
            <div class="ticketValidatorCenter">
                <fa-icon [icon]="faBus" size="8x" ></fa-icon>
                <div class="scanText">SCAN YOUR TICKET</div>
                <fa-icon [icon]="faCaretSquareDown" size="4x"></fa-icon>
            </div>
            <div>
            <div>
                <input class="codeTextbox"  [(ngModel)] = "ticketCode">
            </div>
            <div>
                <button class="btn btn-primary" (click)="scanTicket()">Scan ticket</button>    
            </div>
        </div>
            <div class="qrCode" (click)="openQrCodeScanner()">
                Use qr code
                <div class="barcodeImg">
                </div>
            </div>
        </div>
    </div>
</div>
